.container {
    width: 300px;
    max-width: 780px;
    padding-top: 6%;
    position: center;
}


.mytitle {
    width: 100%;
    max-width: 780px;
    color: black;
    text-align: left;

    background-size: cover;
    background-position: center;
    border-radius: 10px;

}
.col {
    display: flex;
    justify-content: right;
}

