{% extends "base.html" %}
{% load static %}
{% block title %}index{% endblock %}

{% block head %}

    <link rel='stylesheet' href="{% static 'css/detail.css' %}" media='screen'>

{% endblock %}

{% block main %}
<div id="box">
    <div id="container">
        <div id="left_box">
            <img src="{{ tweet.main_image }}" class="image" alt="Logo Image">
            <div class="like_time">
                <p>* 좋아요 개수</p>
                {% if user in tweet.like.all %}
                    <a href="/comment/like/{{tweet.id}}">
                        <img src="/static/img/like.png"  class="likee">
                    </a>

                {% else %}
                    <a href="/comment/like/{{tweet.id}}">
                        <img src="/static/img/unlike.png" class="likee">
                    </a>
                {% endif %}



            </div>
            <div class="edit">
               {% if user == article.author %}
                    <a href="{% url 'edit' tweet.id %}"> 글 수정하기</a>
                    <a href="{% url 'delete' tweet.id %}">글 삭제하기</a>
                {% endif %}
                <a style="text-decoration:none" href='/' >홈으로 돌아가기</a>
            </div>
        </div>

        <div id="right_box">
            <div class="title">
                <h3>제목 : {{ tweet.title }}</h3>
            </div>
            <br>
            <div class="explanation">
                {{ tweet.img_des }}
            </div>
            <div class="writer">
                <p>만든이 : {{ tweet.author.username }}</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}